<% if !logged_in? %>
  <p>Are you a winemaker? If so, feel free to create an account or login</p>

<% else %>
<h4>Welcome Back <%= current_user.name %></h4>
<h3>This is your Winery</h3>
<div>
  <p>You have made many wines in your life,</p>
  <p>And have celebrated many fine vintages.</p>
  <p>But times are rough, and you have tons of liters</p>
  <p>of beautiful juice just sitting in barrels,</p>
  <p>waiting to be bottled and sold</p>
  <p>But, alas, which ones?</p>
  <p>let's find out...</p>
</div>
<% end %>