<div class='field'>
  <%= f.text_field :email, placeholder: 'Email', value: user.email %><br />
</div>
<div class='field' >
  <%= f.password_field :password, placeholder: 'Password' %><br />
</div>
<% end %>