<h3>User Sign Up</h3>
<%= render partial: 'layouts/error', locals: {object: @user} %>
<%= render partial: 'form', locals: {user: @user, button_name: "Sign Up"} %>



<br /><%= link_to 'Register with Github', '/auth/github' %><br />

<br /><%= link_to 'Log in', login_path %>